<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/authentication.css">

<form action="/forget" method="POST" class="login-form">
    <h1 style="text-align: center; color: grey; font-size: 30px;">User Confirmation</h1>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" placeholder="Enter email" required>
    </div>

    <div class="form-group">
        <button type="submit">Continue</button>
    </div>
    
    <div class="form-group">
        <small style="font-size: 14px;"> <b>Want To Login?</b></small>
       
        <a href="/users/signin" style="text-decoration: none;">Login</a>
    </div>
</form>