<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/authentication.css">

<form action="/forget" method="POST" class="login-form">
    <h1 style="text-align: center; color: grey; font-size: 30px;">User Confirmation</h1>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" placeholder="Enter email" required>
    </div>
    <div class="form-group">
        <label>Username</label><small>(optional)</small>
        <input type="text" name="name" class="form-control" placeholder="Enter Username">
    </div>
    <div class="form-group">
        <button type="submit">Continue</button>
    </div>
    <div class="form-group">
        <button>
            <img src="https://www.flaticon.com/svg/static/icons/svg/2702/2702602.svg" alt="google" class="mr-3 mt-3 rounded-circle" style="width:20px;" >
            <a href="/users/auth/google"> Log In With Google</a>
        </button>
    </div>
</form>