<%-include('_header');%>

<ul style="list-style: none">
  <% if(locals.user){%>
  <h1>Visit Your Profile</h1>
  <li>
    <a href="/users/profile/<%=user.id%>"><%= user.name %></a>
  </li>
  <li><a href="/users/destroysession">SignOut</a></li>
  <% } else{ %>
  <div class="list" style="margin-left: 40%; margin-top: 10%">
    <li>
      <a href="/users/signin" class="btn btn-success" onclick="signin()">SignIn</a>
    </li>
    <li>
      <a href="/users/signup" class="btn btn-success" style="margin-top: 10px"
        >SignUp</a
      >
    </li>
  </div>
  <% } %>
</ul>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>