<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/authentication.css">

<form action="/resetpassword" method="POST" class="login-form">
    <h1 style="text-align: center; color: grey;">Reset Password</h1>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" value="<%=email%>" disabled name="email">
    </div>

    <div class="form-group" style="position: relative;">        
        <label for="password">Password</label>
        <input type="password" class="form-control" name="reset_password" id="reset_password" placeholder="Enter password" required>
        <i class="fas fa-eye-slash" style="position: absolute; left:92%; top: 35px; cursor: pointer;" id="eye-splash"></i>
    </div>

    <div class="form-group" style="position: relative;">
        <label for="password">Confirm Password</label>
        <input type="password" class="form-control" name="reset_confirm_password" id="reset_confirm_password" placeholder="Enter Confirm password" required>
        <i class="fas fa-eye-slash" style="position: absolute; left:92%; top: 35px; cursor: pointer;" id="eye-splash1"></i>
    </div>
    
    <div>
    <div class="form-group">
        <input type="text" hidden value="<%=token%>" name="token">
    </div>
    </div>
    <div class="form-group">
        <button type="submit">Continue</button>
    </div>
</form>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>
     var click=false;
    //if user want to see password 
    $('#eye-splash').on('click',function(){
        if(!click==true){
            $('#reset_password').attr('type','text');
            $(this).toggleClass('fa-eye-slash fa-eye')
            click=true;
        }else{
            $('#reset_password').attr('type','password');
            $(this).toggleClass('fa-eye fa-eye-slash')
            click=false;
        }
    })


    //if user want to see confirm password field password
    var click1=false;
    $('#eye-splash1').on('click',function(){
        if(!click1==true){
            $('#reset_confirm_password').attr('type','text');
            $(this).toggleClass('fa-eye-slash fa-eye')
            click1=true;
        }else{
            $('#reset_confirm_password').attr('type','password');
            $(this).toggleClass('fa-eye fa-eye-slash')
            click1=false;
        }
    })
</script>