<link rel="stylesheet" href="/css/authentication.css">


<form action="/users/create-session" method="POST" class="login-form">
        <h1 style="text-align: center; color: grey;">Sign In</h1>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" placeholder="Enter email" required>
        </div>

        <div class="form-group"  style="position: relative;">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Enter password" required>
            <i class="fas fa-eye-slash" style="position: absolute; left:92%; top: 35px; cursor: pointer;" id="eye-splash2"></i>
            <small style="cursor: pointer;"><a href="/forgetpassword">Forget Password?</a></small>
        </div>

       
        <div class="form-group">
            <button>
                <img src="https://www.flaticon.com/svg/static/icons/svg/2702/2702602.svg" alt="google" class="mr-3 mt-3 rounded-circle" style="width:20px;" >
                <a href="/users/auth/google"> Log In With Google</a>
            </button>
        </div>

        <div class="form-group">
            <button type="submit">LOGIN</button>
        </div>

        <div class="form-group">
            <b>Create an account?</b>
            <a href="/users/signup">SignUp</a>
        </div>

        
</form>


<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- jQuery library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!-- Latest compiled JavaScript -->
<script>
    
    //if user want to see password field password
    var click=false;
    $('#eye-splash2').on('click',function(){
        if(!click==true){
            $('#password').attr('type','text');
            $(this).toggleClass('fa-eye-slash fa-eye')
            click=true;
        }else{
            $('#password').attr('type','password');
            $(this).toggleClass('fa-eye fa-eye-slash')
            click=false;
        }
    })

</script>