<h1>Sign In</h1>
<p>
    <a href="/users/signup">
        SignUp
    </a>
</p>
<form action="/users/create-session" method="POST">
    <label for="email">Email</label>
    <input type="email" name="email" placeholder="Your email" required>

    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Your password" required>
    
    <button type="submit">SignIn</button>
</form>

<p>
    <a href="/users/auth/google">SignIn With Google</a>
</p>