#layout-header {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 50px;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    color: white;
    box-shadow: 1px 1px 1px 1px lightgrey;

    .main-logo {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      p {
        margin: 10px;
        font-size: 1.4rem;
        font-weight: bold;
      }
    }

    .auth-links {
      margin-right: 11px;
      ul {
        margin: 5% 5px;
        display: flex;
        list-style: none;
        align-items: center;

        li {
          margin-right: 10px;
          padding: 0 4px;
        }
      }
    }

    a {
      color: #fff;
      text-decoration: none;
      letter-spacing: 0.1px;
      display: flex;
      justify-content: center;
      align-items: center;
      .auth-btn {
        width: 80px;
        border: none;
        border-radius: 100px;
        color: #fff;
        padding: 8px 16px;
        font-size: 13px;
        box-sizing: border-box;
        letter-spacing: 0.1px;
        background-image: linear-gradient(30deg, #fc5656, #ffff51);
        cursor: pointer;
        outline: none;
        transition: all 0.3s;
      }
    }
    .user-btn {
      padding: 0 5px;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
  position: sticky;
  top: 0;
  z-index: 999;
  justify-content: space-between;
}

@media (max-width: 500px) {
  #layout-header {
    nav {
      .main-logo {
        p {
          margin-left: 2px;
          font-size: 1.2rem;
        }
      }
      a {
        .auth-btn {
          width: 65px;
          padding: 6px 9px;
          letter-spacing: 0px;
          font-size: 11px;
        }
      }
      .user-btn {
        font-size: 11px;
        padding: 0px;
      }
    }
  }
}

@media (max-width: 350px) {
  #layout-header {
    nav {
      .main-logo {
        p {
          margin-left: 2px;
        }
      }
      a {
        .auth-btn {
          width: 55px;
          padding: 6px 9px;
          letter-spacing: 0px;
          font-size: 7px;
        }
      }
      .user-btn {
        font-size: 11px;
        padding: 0px;
      }
    }
  }
}
