

body{
    margin:0;
    // text-align: center;
    background-image: linear-gradient(to right,#7d8389,cyan);
    font-family: Arial, Helvetica, sans-serif,Muli;
    

    // form{
    //     width:420px;
    //     position: static;
    //     max-width: 80%;
    //     pointer-events: auto;
    //     box-sizing: border-box;
    //     z-index:99
    // }
}
