#layout-header {
  position: sticky;
  top: 0;
  z-index: 999; }
  #layout-header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 50px;
    background: #fff;
    color: white;
    box-shadow: 1px 1px 1px 1px lightgrey; }
    #layout-header nav .main-logo {
      display: flex;
      align-items: center; }
      #layout-header nav .main-logo p {
        margin: 10px;
        font-size: 1.4rem;
        font-weight: bold; }
    #layout-header nav .auth-links {
      margin-right: 11px; }
      #layout-header nav .auth-links ul {
        margin: 5% 5px;
        display: flex;
        list-style: none;
        align-items: center; }
        #layout-header nav .auth-links ul li {
          margin-right: 10px;
          padding: 0 4px; }
    #layout-header nav a {
      color: #465b70;
      text-decoration: none;
      letter-spacing: 0.3px; }
